<div class="page-header">
  <div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                                     
      <h1>Welcome to CD Management</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>CD Man is a Compact Disc (CD) Management Application which allows user to search for various artists, ablums and tracks.</p>
    <p>Please report any problems to <a href="mailto:admin@cdman.co.za?Subject=CD Management%20query">admin@cdman.co.za</a></p>
    </br>
     <a href="/search" class="btn btn-primary btn-large">
       Start Searching .... 
     </a>
  </div>
</div>
</br>
</br>
